<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.price %> VND</td>
  <td>
    <% if product.order %>
      <%= link_to order_path(product.order),
        class: "btn btn-default btn-sm", style: "width: 150px;" do %>
        <span class="glyphicon glyphicon-ok"></span> View Order
      <% end %>
    <% else %>
      <%= link_to momo_payments_path(product_id: product.id), method: :POST,
        class: "btn btn-success btn-sm", style: "width: 150px;" do %>
        <span class="glyphicon glyphicon-shopping-cart"></span> Buy Product
      <% end %>
    <% end %>
  </td>
</tr>
